@charset "utf-8";

@font-face {
    font-family: 'FrancoisOne';
    src: url('../fonts/FrancoisOne.eot');
    src: url('../fonts/FrancoisOne.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrancoisOne.svg#FrancoisOne') format('svg'),
         url('../fonts/FrancoisOne.ttf') format('truetype'),
         url('../fonts/FrancoisOne.woff') format('woff'),
         url('../fonts/FrancoisOne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNovaExCn';
    src: url('../fonts/ProximaNovaExCn-Regular.eot');
    src: url('../fonts/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaExCn-Regular.svg#ProximaNovaExCn-Regular') format('svg'),
         url('../fonts/ProximaNovaExCn-Regular.ttf') format('truetype'),
         url('../fonts/ProximaNovaExCn-Regular.woff') format('woff'),
         url('../fonts/ProximaNovaExCn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNovaExCn';
    src: url('../fonts/ProximaNovaExCn-Light.eot');
    src: url('../fonts/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaExCn-Light.svg#ProximaNovaExCn-Light') format('svg'),
         url('../fonts/ProximaNovaExCn-Light.ttf') format('truetype'),
         url('../fonts/ProximaNovaExCn-Light.woff') format('woff'),
         url('../fonts/ProximaNovaExCn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNovaExCn';
    src: url('../fonts/ProximaNovaExCn-Bold.eot');
    src: url('../fonts/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaExCn-Bold.svg#ProximaNovaExCn-Bold') format('svg'),
         url('../fonts/ProximaNovaExCn-Bold.ttf') format('truetype'),
         url('../fonts/ProximaNovaExCn-Bold.woff') format('woff'),
         url('../fonts/ProximaNovaExCn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNovaExCn';
    src: url('../fonts/ProximaNovaExCn-Semibold.eot');
    src: url('../fonts/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaExCn-Semibold.svg#ProximaNovaExCn-Semibold') format('svg'),
         url('../fonts/ProximaNovaExCn-Semibold.ttf') format('truetype'),
         url('../fonts/ProximaNovaExCn-Semibold.woff') format('woff'),
         url('../fonts/ProximaNovaExCn-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Regular.eot');
    src: url('../fonts/BebasNeue Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Regular.woff2') format('woff2'),
         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Light.eot');
    src: url('../fonts/BebasNeue Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Light.woff2') format('woff2'),
         url('../fonts/BebasNeueLight.svg#BebasNeueLight') format('svg'),
         url('../fonts/BebasNeueLight.ttf') format('truetype'),
         url('../fonts/BebasNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Book.eot');
    src: url('../fonts/BebasNeue Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Book.woff2') format('woff2'),
         url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg'),
         url('../fonts/BebasNeueBook.ttf') format('truetype'),
         url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Bold.eot');
    src: url('../fonts/BebasNeue Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Bold.woff2') format('woff2'),
         url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'),
         url('../fonts/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Thin.eot');
    src: url('../fonts/BebasNeue Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Thin.woff2') format('woff2'),
         url('../fonts/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg'),
         url('../fonts/BebasNeue-Thin.ttf') format('truetype'),
         url('../fonts/BebasNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
    font-family: 'FrancoisOne', sans-serif;
    text-transform: uppercase;
}
body .body-wrap {
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
	text-decoration: none;
	color: #000000;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button {
    font-family: 'FrancoisOne', sans-serif;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover {
    cursor: pointer;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border-color: #ff0000 !important;
    background-color: #ffb9b9 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container{
	position: relative;
    width: 100%;
	/*max-width: 1230px;*/
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: rgba(0,0,0,0.4);
}
input:-moz-placeholder {
    color: rgba(0,0,0,0.4);
}
textarea::-webkit-input-placeholder {
    color: rgba(0,0,0,0.4);
}
textarea:-moz-placeholder {
    color: rgba(0,0,0,0.4);
}
.mobile-btn {
	display: none;
    position: relative;
	width: 30px;
	height: 30px;
	z-index: 1;
    cursor: pointer;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 100px;
	top: calc(50% - 1px);
	left: 5px;
	width: 20px;
	height: 2px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 1px);
    width: 20px;
    height: 2px;
    background-color: #000000;
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 1px);
    width: 20px;
    height: 2px;
    background-color: #000000;
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::before {
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active::after {
    background-color: #ffffff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active .mobile-btn-el {
    opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 10;
    cursor: pointer;
    top: 15px;
    right: 30px;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 2px);
    width: 30px;
    height: 4px;
    background-color: #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 2px);
    width: 30px;
    height: 4px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 90;
	top: 0;
    bottom: 0;
	left: -200%;
	width: 100%;
	padding: 61px 0 0;
	background-color: #000000;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu.active {
	left: 0;
}

.policy-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    text-align: left;
    margin-top: 15px;
}
.policy-text .radio-btn {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #d4d4d4;
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.policy-text .radio-btn.error {
    border-color: #ff0000;
}
.policy-text .radio-btn.active:before {
    content: '';
    display: block;
    width: 13px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 15px;
    background-color: #d4d4d4;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.policy-text .radio-btn.active:after {
    content: '';
    display: block;
    width: 18px;
    height: 2px;
    position: absolute;
    left: 9px;
    top: 13px;
    background-color: #d4d4d4;
    border-radius: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.policy-text p {
    display: block;
    font-family: 'BebasNeue', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-left: 15px;
}
.policy-text p a {
    border-bottom: 1px solid #000000;
}
.policy-text p a:hover {
    border-color: transparent;
}



@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	
}
@media screen and (max-width: 1024px){
    .mobile-btn, .mobile-menu, .close-btn {
        display: block;
    }
    body.no-scroll {
        height: 100vh !important;
        overflow: hidden !important;
    }
}
@media screen and (max-width: 768px){
    .container {
        padding: 0 15px;
    }
    .close-btn {
        width: 34px;
        height: 34px;
        top: 8px;
        right: 10px;
    }
    .close-btn::before, .close-btn::after {
        width: 24px;
        height: 3px;
        top: calc(50% - 1.5px);
    }

    .policy-text {
        justify-content: center;
    }
}